<mat-sidenav-container class="sidenav-container">

    <!-- Main content -->
    <mat-sidenav-content>
        <style>
            .rows {
                width: 90%;
                display: flex;
                column-gap: 30px;
                margin-left: 5%;
                margin-top: 20px;
            }

            .rows .col_40 {
                width: 45%;
            }

            .rows .col_60 {
                width: 55%;
            }
        </style>
        <!-- Main Content Layout -->
        <div class="main-content">
            <div class="rows">
                <div class="col_40">
                    <form action="" (ngSubmit)="getBillDetails(billDetailForm.value)"
                        #billDetailForm="ngForm">
                        <mat-card class="customer-details">
                            <mat-card-header>
                                <mat-card-title>Bill Details</mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <mat-card-content style="padding-top: 20px;">
                                <mat-form-field appearance="outline">
                                    <mat-label>Type of Bill Name</mat-label>
                                    <input matInput name="transport_bill" ngModel placeholder="Transport Bill" required type="text"
                                        #transport_bill="ngModel">
                                    <mat-error *ngIf="!transport_bill.valid && transport_bill.touched">Transport Bill is
                                        <strong>required</strong></mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput name="company_name" ngModel placeholder="Vicky Enterprise" type="text"
                                        #company_name="ngModel" required>
                                    <mat-error *ngIf="!company_name.valid && company_name.touched">Company Name is
                                        <strong>required</strong></mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile</mat-label>
                                    <input matInput name="mobile" ngModel placeholder="9999999999" required
                                        type="number" #mobile="ngModel">
                                    <mat-error *ngIf="!mobile.valid && mobile.touched">Mobile is
                                        <strong>required</strong></mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput name="email" ngModel placeholder="test@example.com" required
                                        type="email" #email="ngModel">
                                    <mat-error *ngIf="!email.valid && email.touched">Email is
                                        <strong>required</strong></mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 100%;" class="example-full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput name="address" ngModel #address="ngModel" style="width: 100%;" required></textarea>
                                    <mat-error *ngIf="!address.valid && address.touched">Address is
                                        <strong>required</strong></mat-error>
                                </mat-form-field>

                            </mat-card-content>
                        </mat-card>


                        <mat-card class="buttons" style="margin: 25px 0;">
                            <mat-card-content style="padding-top: 20px;">
                                <button mat-stroked-button type="reset" color="warn">Reset</button>
                                <button mat-raised-button type="submit" style="margin-left: 15px;" color="primary"
                                    [disabled]="!billDetailForm.valid"><mat-icon>save</mat-icon>Save</button>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>

                <div class="col_60">
                    <div class="invoice-summary">
                        <div class="business_name">{{customerDetails.billName}}</div>
                        <div class="shop_name"> {{customerDetails.companyName}}</div>
                        <div class="address"><span>Address:</span> {{customerDetails.address}}</div>
                        <div class="phone"><span>Phone No.:</span> {{customerDetails.mobile}}</div>
                        <div class="email"><span>Email Id:</span> {{customerDetails.email}}</div>

                    </div>
                </div>
            </div>


        </div>
    </mat-sidenav-content>